header{
    background-color: #090d1b;
}
nav div img {
    width: 50px;
}
nav ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 40vh;
    align-items: center;
}
nav div div{
    flex-direction: column;
}
nav li{
    list-style: none; 
}
.div1{
    display: flex;
    color: #ffff;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 600px){
    header{
        padding-bottom: 10px;
    }
    nav ul{
        gap: 0;
        margin-top: 0;
    }
    nav ul div{
        display:flex;
        gap: 10px;
    }
    nav ul div li{
        
        justify-content:space-around;
    }
}