.ProfileViews1 img{
    width: 50px;
    height: 40px;
}
.ProfileViews1 div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
.ProfileViews1 div {
   width: 400px;
}